* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #293264;
  background-color: cornsilk;
}

button {
  grid-column: 1 / -1;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;

  padding-top: 10px;
  padding-bottom: 10px;

  background: purple;
  color: white;
  width: 150px;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  transform: scale(1);
  transition: color 500ms;
  transition: transform 250ms;
}

button:hover,
botton:focus {
  color: white;
  transform: scale(1.1);
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.start {
  text-align: center;
}

.single-answer {
  margin-right: 10px;
}

